body {
    background-image: url(images/alexander-andrews-fsH1KjbdjE8-unsplash.jpg);
    background-repeat: cover;
    text-align: center;
    margin: 0;
  }
  
h1 {
     color: rgb(255, 255, 255);
     font-size: 2em;
     font-family: 'Press Start 2P', cursive;
     margin-bottom: 0;
     margin-top: 15px;
 }
  /* GAME BOARD STYLES */
  #gameBox {
    /*
      width and height of .gameBoard should 1/40 of the width and height of #gameBox,
      because it is used in calculation in the .js file
      */
    width: 40vw;
    height: 40vw;
    margin: 0.7vw auto;
    background-image: url(images/space_background.jpg);
    background-size: cover;
    border: solid 4px #fdf9fab7;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  }
  
  .gameBoard {
    /*
      width and height of .gameBoard should 1/40 of the width and height of #gameBox,
      because it is used in calculation in the jscript.js file
      */
    width: 1vw;
    height: 1vw;
    border-radius: 10px;
    float: left;
  }
  /* GAME BOARD STYLES END*/
  
  /* WORM STYLES */
  .wormBody {
    background-color: #0afb5b;
    /* box-shadow: 0 0 5px #0afb5b; */
  }
  /* SPACE WORM STYLES END*/
  
  /* FOOD STYLES */
  .food {
    background-color: #ffd000;
  }
  /* FOOD STYLES END*/

 /* BLACK HOLE STYLES */
  .blackhole {
    background-color: #000000;
    box-shadow: 0 0 20px #ffd000;
  }
  /* BLACK HOLE  STYLES END*/
  
  /* SCORE STYLES */
  #scoreContainer {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  
  .scoreBoard {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
    border: solid 5px #f0e4e6b7;
    color: rgb(218, 213, 213);
    display: inline-block;
    padding: 0.8vw;
    width: 40%;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  }
  /* SCORE STYLES END */

/* POP-OVER WORM */
.alienGreetings {
    color: white; 
    font-family:'Press Start 2P', cursive;
    padding-top: 10px;
    font-size: 0.8em;
    margin-bottom: 0;

}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 20vw;
    line-height: 40px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -80px;
  }
  /* Popup arrow */
  .popup .popuptext::after {
    content:url(./images/green_worm_favicon.png);
  }
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeOut 1s;
  }
  /* Add animation (fade in the popup) */
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/* END OF POP-OVER */
.credits {
    position: absolute;
    right: 60px;
    color: rgba(255, 255, 255, 0.877);
    font-size: 1em; 
    width: 30vw;
    font-family: 'Lucida Sans'; 
    text-align: right;
    margin-top: 0; 
   
    
}    
  
/* Hide #onScreenControllers on desktop and show on mobile version*/
  #onScreenControllers {
    display: none;
  }



@media only screen and (max-width: 768px) {
    /* MOBILE */

    h1 {
      color: rgb(255, 255, 255);
      font-size: 0.8em;
      font-family: 'Press Start 2P', cursive;
      margin-bottom: 0;
  }
    #gameBox {
      width: 80vw;
      height: 80vw;
    }
  
    .gameBoard{
      width: 2vw;
      height: 2vw;
    }
  
    #scoreContainer {
      width: 80vw;
    }
    .scoreBoard {
      font-size: 15px;
      padding: 5px;
      margin: 5px;
    }
    .alienGreetings, .popup {
      display: none;
    }
    .controllersScoresContainer {
      margin: auto;
    }
    #onScreenControllers {
      width: 80vw;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    #onScreenControllers > div {
      display: flex;
      flex-direction: column;
    }
  
    #onScreenControllers button {
      background-color: transparent;
      height: 20vw;
      width: 20vw;
      font-size: 10vw;
      border: none;
    }
  
    #onScreenControllers button:focus {
      outline: none;
    }
  
    #onScreenControllers button:active {
      background-color: #f0e4e6b7;
    }
  }
